doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://cdn.everything.io/kickstart/3.x/css/kickstart.min.css')
  body
    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://cdn.everything.io/kickstart/3.x/js/kickstart.min.js')
    script(src='/javascripts/jquery.knob.js')
    script(src='/javascripts/global.js')
